*{
    padding: 0;
    margin: 0;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: blanchedalmond;
    font-size: 14px;
}

div#info{
    display: flex;
    justify-content: space-between;
    height: 5%;
}

div#info button{
    background-color: rgb(221, 123, 123);
    border-color: transparent;
    width: 20%;
    height: 100%;
    font-weight: bold;
}

div.container{
    text-align: center;
    top: 15%;
    position: relative;
    width: 60%;
    height: 100%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.container h1{
    margin-bottom: 4rem;
}

.form{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.form input{
    width: 60%;
    height: 100%;
    border-radius: 0;
    border-color: transparent;
    padding: 0 2rem;
    font-size: 1rem;
}

.form button{
    width: 20%;
    height: 100%;
    border-radius: 0;
    border-color: transparent;
    background-color: rgb(130, 199, 130);
    font-size: 1rem;
    font-weight: bold;
}

.form button:hover{
    cursor: pointer;
}

div#tasks-submitted{
    margin-top: 3rem;
    height: 90%;
}

div#tasks-submitted p{
    margin-top: 1.5rem;
    font-size: 1rem;
    text-align: left;
}


#tasks-submitted p:hover{
    cursor: pointer;
}

@media screen and (max-width:800px) {
    html{
        font-size: 10px;
    }

    .form input{
        width: 50%;
    }
    
    .form button{
        width: 25%;
        height: 100%;
        border-radius: 0;
        border-color: transparent;
        background-color: rgb(130, 199, 130);
        font-size: 1rem;
        font-weight: bold;
    }

}